.left-side-menu {
  background: #fff !important;
}

.logo-box {
  height: 70px;
  width: 240px;
  float: left;
  background-color: #fff !important;
}

.navbar-custom {
  background-color: #0246ae !important;
}

.navbar-custom .button-menu-mobile span {
  background-color: #fff !important;
}

.navbar-custom .topnav-menu .nav-link {
  color: #fff !important;
}

.btn-dark {
  color: #fff;
  background-color: #56c2d6 !important;
  border-color: #56c2d6;
}

.modal-header {
  background: #0246ae !important;
}

.modal-title {
  color: #fff !important;
}

.modal-header .close {
  color: #fff !important;
}

.membrete-salud {
  height: 100%;
  display: flex;
  padding: 7px;
}

/* -- PAGINA INICIAR SESION  */

.auth-title {
  background-color: #0246ae !important;
  color: #fff !important;
}

.header-dashboard1 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 20px !important;
}

.header-dashboard2 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 55px !important;
}

.header-dashboard3 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
}

.breadcrumb-item > a {
  color: #fff;
}

.historial-reciente-dashboard {
  margin-top: -35px !important;
}

.btn-primary {
  color: #fff;
  background-color: #008f6d !important;
  border-color: #286dd3;
}

.hidden {
  display: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007e8f !important;
  border-color: #286dd3;
}

.btn-outline-primary {
  color: #007e8f;
  border-color: #007e8f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #008f6d;
  border-color: #008f6d;
}

tbody a {
  color: #008f6d !important;
}

tbody a:hover {
  color: #007e8f !important;
}

.notification-list .noti-title {
  background-color: #0245ab !important;
}

.background-login {
  background-color: #0245ab !important;
}

.table .thead-dark th {
  color: #424c5c;
  background-color: #f1f5f7;
  border-color: #424c5c;
  border: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background: #f6f6f6;
}

.card {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.card-box {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.hidden {
  display: none;
}

.header-dashboard1 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 20px !important;
}

.header-dashboard2 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 55px !important;
}

.header-dashboard3 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
}

.breadcrumb-item > a {
  color: #fff;
}

.historial-reciente-dashboard {
  margin-top: -35px !important;
}

.btn-primary {
  color: #fff;
  background-color: #008f6d !important;
  border-color: #286dd3;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007e8f !important;
  border-color: #286dd3;
}

.btn-outline-primary {
  color: #007e8f;
  border-color: #007e8f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #008f6d;
  border-color: #008f6d;
}

tbody a {
  color: #008f6d !important;
}

tbody a:hover {
  color: #007e8f !important;
}

.notification-list .noti-title {
  background-color: #0245ab !important;
}

.background-login {
  background-color: #0245ab !important;
}

.table .thead-dark th {
  color: #424c5c;
  background-color: #f1f5f7;
  border-color: #424c5c;
  border: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background: #f6f6f6;
}

.card {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.card-box {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.header-dashboard1 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 20px !important;
}

.header-dashboard2 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 55px !important;
}

.header-dashboard3 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
}

.breadcrumb-item > a {
  color: #fff;
}

.historial-reciente-dashboard {
  margin-top: -35px !important;
}

.btn-primary {
  color: #fff;
  background-color: #008f6d !important;
  border-color: #286dd3;
}

.header-dashboard1 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 20px !important;
}

.header-dashboard2 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
  padding-bottom: 55px !important;
}

.header-dashboard3 {
  background-color: #0246ae !important;
  margin-left: -35px !important;
  margin-right: -35px !important;
}

.breadcrumb-item > a {
  color: #fff;
}

.historial-reciente-dashboard {
  margin-top: -35px !important;
}

.btn-primary {
  color: #fff;
  background-color: #008f6d !important;
  border-color: #286dd3;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007e8f !important;
  border-color: #286dd3;
}

.btn-outline-primary {
  color: #007e8f;
  border-color: #007e8f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #008f6d;
  border-color: #008f6d;
}

tbody a {
  color: #008f6d !important;
}

tbody a:hover {
  color: #007e8f !important;
}

.notification-list .noti-title {
  background-color: #0245ab !important;
}

.background-login {
  background-color: #0245ab !important;
}

.table .thead-dark th {
  color: #424c5c;
  background-color: #f1f5f7;
  border-color: #424c5c;
  border: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background: #f6f6f6;
}

.card {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.card-box {
  box-shadow: 0 0 30px 0 rgba(61, 69, 78, 0.15) !important;
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  margin-bottom: 5px;
}

.box-historia-actual {
  padding: 15px;
  border: 3px solid green;
}

.p-subtitle-group {
  font-size: 14px;
  font-weight: 400 !important;
  color: gray;
  margin-bottom: 5px;
}

.p-content {
  font-size: 14px;
  font-weight: 400;
}

.status-title-historia {
  margin-bottom: -8px;
  font-size: 11px;
  margin-top: 5px;
  background: white;
  padding: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}

@media (min-width: 747px) {
  .clean-fix {
    width: 100%;
    height: 100px;
  }
}

.card-evoluciones {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  padding: 17px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-examentes {
  border: 1px solid lightgray;
  margin-bottom: 14px;
}

.card-examentes .bg-back {
  background: #0246ae;
  padding: 7px 15px;
  color: white;
}

.examenes-p {
  padding: 7px 15px;
}

.w-100 {
  width: 100%;
}

.icon {
  font-size: 22px !important;
  padding: 3px 10px !important;
}

.card-paciente-existe {
  padding: 20px;
  background: white;
  border: 1px solid lightgray;
  margin-top: 20px;
}

.btn .fas {
  color: white !important;
}

.card-historia-entregas {
  border: 1px solid lightgray;
  margin-bottom: 2em;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

.lista-medicinas-entrega {
  list-style: none;
  margin-left: 0px;
  padding: 5px;
}

.lista-medicinas-entrega li {
  border: 1px solid lightgray;
  padding: 5px 10px;
  background: #f7f7f7;
  margin-bottom: 5px;
}
